<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894744140795-8p2rin7mt7r3cbvgv70aq4t4p07tscjs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894744140795-8p2rin7mt7r3cbvgv70aq4t4p07tscjs</string>
	<key>API_KEY</key>
	<string>AIzaSyDaqfxtyMefAyuoWbF0KhBm3wie7ZsA-Xk</string>
	<key>GCM_SENDER_ID</key>
	<string>894744140795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.stella</string>
	<key>PROJECT_ID</key>
	<string>stella-7e4fb</string>
	<key>STORAGE_BUCKET</key>
	<string>stella-7e4fb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894744140795:ios:69b81e9b5eba944013095e</string>
</dict>
</plist>